<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2019 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
<data>

<menuitem
    id="employee_advance_root_menu"
    name="Employee Advance"
    sequence="76"
    />

<menuitem
    id="employee_advance_configuration_menu"
    name="Configuration"
    parent="employee_advance_root_menu"
    sequence="98"
    />

    <menuitem
        id="employee_advance_reporting_menu"
        name="Reporting"
        parent="employee_advance_root_menu"
        sequence="99"
        />


</data>
</openerp>
